.gradle
.gradle/
build
.project
.classpath
/log/
*.log
pids/*
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
.idea/
**/target/*
**/logs/*
/target/
*.iml
*.factorypath
application*.yml
*application*.yml
**/out/